[Unit]
Description=Sets gsettings prefer-<light|dark>

[Service]
Type=oneshot
WorkingDirectory=/usr/lib/gnome-mode-shift
ExecStart=/usr/lib/gnome-mode-shift/bin/auto-update-gnome-theme.sh

[Install]
WantedBy=default.target

