[Unit]
Description=timer gnome-mode-shift
Wants=network.target
After=network.target

[Timer]
OnStartupSec=0
OnCalendar=*-*-* *:*:00
Unit=gnome-mode-shift.service

[Install]
WantedBy=timers.target
