[Unit]
Description=gnome-night-shift set day or night
Wants=display-manager.service
After=network.target graphical-session.target

[Service]
Type=oneshot
StateDirectory=gnome-night-shift
WorkingDirectory=/usr/lib/gnome-night-shift
ExecStart=/usr/lib/gnome-night-shift/bin/is_day_or_night.py

Restart=no
