[Unit]
Description=Sets gsettings prefer-<light|dark>
OnFailure=stop-mode-shift-timer.service
Wants=display-manager.service
After=graphical-session.target

StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
StateDirectory=%p
Type=oneshot
WorkingDirectory=/usr/lib/gnome-mode-shift
ExecStart=/usr/lib/gnome-mode-shift/bin/get-sunrise-sunset.sh

Restart=on-failure
RestartSec=5
