[Unit]
Description=Sets gsettings prefer-<light|dark>
Wants=network-online.target
After=network-online.target

[Service]
StateDirectory=%p
Type=oneshot
WorkingDirectory=/usr/lib/gnome-mode-shift
ExecStart=/usr/lib/gnome-mode-shift/bin/get-sunrise-sunset.sh

[Install]
WantedBy=default.target

