[Unit]
Description=Sets gsettings prefer-<light|dark>
Wants=display-manager.service
After=network.target graphical-session.target

StartLimitBurst=2
StartLimitIntervalSec=60

[Service]
Type=oneshot
StateDirectory=%p
WorkingDirectory=/usr/lib/gnome-mode-shift
ExecStart=/usr/lib/gnome-mode-shift/bin/get-sunrise-sunset.sh

Restart=on-failure
RestartSec=5
